# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
dist

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# Bower
bower_components

#sass-cache
.sass-cache

# Fs
.DS_Store

# Misc
.idea